<%= render "shared/flash_messages" %>
<div class="container mw-sm">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#child_1" class="nav-link active" data-toggle="tab">1人目</a>
    </li>
    <li class="nav-item">
      <a href="#child_2" class="nav-link" data-toggle="tab">2人目</a>
    </li>
    <li class="nav-item">
      <a href="#child_3" class="nav-link" data-toggle="tab">3人目</a>
    </li>
  </ul>
  <!-- 投稿フォーム部分 -->
  <div class="tab-content">
    <div id="child_1" class="tab-pane active">
      <%= render "form", child: @child_1 %>
    </div>
    <div id="child_2" class="tab-pane">
      <%= render "form", child: @child_2 %>
    </div>
    <div id="child_3" class="tab-pane">
      <%= render "form", child: @child_3 %>
    </div>
  </div>
</div>
