<div class="box29">
  <span class="box-name" data-user_id="<%= comment.user.id %>"><%= comment.user.name %></span>
  <div class="tweet-left">
    <h3 class="comment_content"><%= simple_format (h comment.content) %></h3>
  </div>
</div>
