/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}



body {
  padding-top: 56px;
}

.mw-sm {
  max-width: 576px;
  margin: 0 auto;
}

.user-index {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

a.card {
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.box28 {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px #5fc2f5;
  background: #f1f1f1;
  max-width: 576px;
  margin: 0 auto;
}

.box28 .box-name {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #5fc2f5;
  color: #ffffff;
  font-weight: bold;

}

.box28 p {
  margin: 0;
  padding: 0;
}

.box29 {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px goldenrod;
  background: #f1f1f1;
  max-width: 576px;
  margin: 0 auto;
}

.box29 .box-name {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: goldenrod;
  color: #ffffff;
  font-weight: bold;
}

.box29 p {
  margin: 10;
  padding: 0;
}


.star {
  text-decoration: none;
  color: black;
}

.box30 {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px green;
  background: #f1f1f1;
  max-width: 576px;
  margin: 0 auto;
}

.box30 .box-name {
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: green;
  color: #ffffff;
  font-weight: bold;
}

.box30 p {
  margin: 10;
  padding: 0;
}


.star {
  text-decoration: none;
  color: black;
}

.user_image {
  width: 258px;
  height: 200px;
}

.title {
  text-align: center;
}

.text {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');



#fly-out {
  background-color: #111;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#fly-in {
  font-size: 4em;
  margin: 40vh auto;
  height: 20vh;
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
  position: fixed;
  margin: 2vh 0;
  opacity: 0;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) {
  animation-delay: 4s
}

#fly-in div:nth-child(3) {
  animation-delay: 8s
}

#fly-in div:nth-child(4) {
  animation-delay: 12s
}

#fly-in div:nth-child(5) {
  animation-delay: 16s
}

#fly-in div:nth-child(6) {
  animation-delay: 20s
}

#fly-in div:nth-child(7) {
  animation-delay: 24s
}

#fly-in div:nth-child(8) {
  animation-delay: 28s
}

@keyframes switch {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(12)
  }

  3% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1)
  }

  10% {
    opacity: 1;
    filter: blur(0);
    transform: scale(.9)
  }

  13% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(.1)
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

#dm-area {
  width: 100%;
}

.comment_content {
  font-size: 30 px;
  word-wrap: break-word;
}

.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;

}

.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon-left {
  float: left;
  margin-right: -30px;
  width: 40px;
}

.balloon6 .faceicon-left img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.balloon6 .faceicon-right {
  float: right;
  margin-right: 10px;
  width: 40px;
}

.balloon6 .faceicon-right img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.balloon6 .chatting {
  width: 100%;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}

.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0px 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}